{% extends 'base.html' %}


{% block content %}




<br/>


{% if api %}
	{% if api == "API Error...." %}
		There was an error with the api, please try again.
	{% else %}

<div class="jumbotron {{category_color}}">
  <h1 class="display-4">{{api.0.Category.Name}}</h1>
  <p class="lead"> {{api.0.ReportingArea}} AQI: {{api.0.AQI}}</p>
  <p>Date Observed: {{api.1.DateObserved}}</p>

  <!-- Eval AQI and display relevant Health Warnings/-->

<p> {{ category_description }} </p>
	
</div>

		
		 <br/><br/>
	{% endif %}
{% endif %}




{% endblock %}
