{% extends 'base.html' %}


{% block content %}




<br/>

{% if zipcode %}
	{{ zipcode }}
{% endif %}

{% if api %}
	{% if api == "API Error...." %}
		There was an error with the api, please try again.
	{% else %}

<div class="jumbotron {{category_color}}">
  <h1 class="display-5"> {{api.0.ReportingArea}} AQI: {{api.0.AQI}}</h1>
  <h2 class=" display-5"> {{api.0.Category.Name}} </h2>
  <p>Date Observed: {{api.0.DateObserved}}</p>

  <!-- Eval AQI and display relevant Health Warnings/-->

<p> {{ category_description }} </p>
	
</div>

		
		 <br/><br/>
	{% endif %}
{% endif %}




{% endblock %}
